---
layout: default
---
<style>
   @media screen and (min-width: 767px) {
    .row{
        margin-top: 20px;
    }
   }
</style>
<section class="row">
    <div class="col-sm-8">
      <div class="row">
        {% for post in site.posts %}
        {% unless post.featured == true %}
        <div class="col-md-6 mb-5">
          {% include postbox.html %}
        </div>
        {% endunless %}
        {% endfor %}
      </div>
    </div>
      <div class="col-sm-4">
        {% include sidebar.html %}
      </div>
    
  </section>