---
layout: default
---
<style>
  p, span, ul li, pre code{
    color: whitesmoke !important;
  }
  h1, h2, h3, h4, h5, h6{
    color: whitesmoke !important;
  }
  a{
    color: gold !important;
  }
  ul.tags li a {
  color: #333 !important;
  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 500;
  background: #eee;
  text-transform: capitalize;
  box-shadow: 0 6px 10px 0 rgba(169, 169, 169, .1);
}
ul.tags li a:hover {
  color: #4f4f4f !important;
  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 500;
  background: #eee;
  text-transform: capitalize;
  box-shadow: 0 6px 10px 0 rgba(169, 169, 169, .1);
}
</style>
<!-- Post Featured Image -->
{% if page.image %}
<div class="text-center mx-auto mb-5">
  <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
</div>
{% endif %}
<!-- End Featured Image -->

<div class="col-lg-8 mx-auto">

  <div class="mainheading">
    <h1 class="posttitle">{{ page.title }}</h1>
  </div>

  <div class="article-post serif-font">
    {{content}}
  </div>

  {% if page.comments == true %}
  <div id="comments">             
      {% include disqus.html %} 
  </div>
  {% endif %}

</div>